<div class="footer">
    <div class="footer-right col-md-4 col-sm-6">
        <h2> Beatriz Ruiz Matias </h2>
        <div class="icons">
            <a href="es.linkedin.com/pub/beatriz-ruiz-matias/47/200/9a4/" class="icon_base linkedin"></a>
            <a href="https://github.com/beatrizruizmatias/" class="icon_base github"></a>
            <a href="mailto:beatrizruizmatias@gmail.com" class="icon_base email"></a>
        </div>
    </div>
    <div class="footer-left">
        <div class="title"> Stack tecnológico </div>
        <div class="text">
            <a href="https://angularjs.org/">AngularJS</a>,
            <a href="http://sass-lang.com/">Sass</a>,
            <a href="https://gulpjs.com/">Gulp</a>,
            <a href="https://karma-runner.github.io/1.0/index.html">Karma</a>,
            <a href="https://mochajs.org/">Mocha</a>,
            <a href="http://chaijs.com/">Chai</a>,
            <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">Flaticonm</a> by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>

        </div>
    </div>
</div>