@import "mixins";
@import "icons";

body {
    font-size: 16px;
    overflow-x: hidden;
    -ms-overflow-style: scrollbar;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    color: $gray;
}

.errorLanding {
    width: 100%;
    height: 100%;
    .errorContent {
        margin: 60px auto;
        text-align: center;
        width: 290px;
        .icon {
            display: inline-block;
        }
        .text {
            margin-top: 20px;
            font-weight: 600;
        }
        .returnButton {
            margin-top: 20px;
            font-weight: 600;
            display: inline-block;
            font-size: 14px;
            color: $red;
            &:hover {
                text-decoration: underline;
                color: $red;
            }
        }
    }
}