@import "../mixins";

.searcher{
    .searchBy{
        select{
            margin-left: 15px;
            width: 150px;
            height: 30px;
            text-transform: capitalize;
        }
    }
    .advancedSearch{
        margin: 30px 0px 0px;
        width: 400px;
        padding: 20px;
        background: $white;
        @include box-shadow(0 2px 4px 0 rgba(0,0,0,0.12));
        @include rounded(3px);
        select{
            margin-left: 10px;
            width: 150px;
        }
        .actions{
            margin-top: 20px;
            text-align: right;
            .buttonItem{
                display: inline-block;
                vertical-align: bottom;
                margin-left: 20px;
            }
        }
    }
}